<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Sarah Gu">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>MeowMates</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/product/">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/match.css" rel="stylesheet">
  </head>
  <body>
    <nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>MeowMates</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
    </a>
        <a class="py-2 d-none d-md-inline-block" ></a>
    <a class="py-2 d-none d-md-inline-block" ></a>
    <a class="py-2 d-none d-md-inline-block"></a>

    <a class="py-2 d-none d-md-inline-block" href = "https://meowmates.sites.tjhsst.edu">Welcome, {{ownername}}</a>
    <a class="py-2 d-none d-md-inline-block" href="https://user.tjhsst.edu/meowmates/petprofile">Add New Pet</a>
    <a class="py-2 d-none d-md-inline-block" href="https://user.tjhsst.edu/meowmates/logout">Logout</a>

    <a class="py-2 d-none d-md-inline-block" href="https://user.tjhsst.edu/meowmates/dm">DM Friends</a>
  </div>
</nav>
<br>
<form id="blank-form"></form>
<div class="pfp" id = "pfpcard">
  <img id ="animalimg" src={{imagelink}} alt="petimage" width= "200" height = "400" style="width:100%">
  <div id = "animalname"><h1>{{name}}</h1></div>
  <p id = "animaltype" class="title">Animal Type: {{petType}}</p>
  <p id = "location">Location: {{location}}</p>
  <p id = "hobby">Hobbies: {{hobbies}}</p>
    <p id = "bio">Bio: {{bio}}</p>
  <img src="https://cdn.pixabay.com/photo/2017/01/13/01/22/ok-1976099__340.png" width = 75 height = 75 alt="match!" onclick = accept()>
  <img src="https://www.cpronetwork.com/media/d10b9ef5fc45ce16ba12240e263a7d8b.png?h=900" width = 50 height = 50 alt="match!" onclick = accept()>

</div>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-muted">&copy; 2019</small>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script src="js/match.js"></script>

</footer>
</html>